@import "../_lib/bower_components/foundation/scss/normalize";

$body-bg: rgb(206, 222, 236);
$body-font-color: rgb(80, 80, 80);
$header-font-color: rgb(243, 64, 0);
$anchor-font-color: $header-font-color;

@import "../_lib/bower_components/foundation/scss/foundation/components/type";
@import "../_lib/bower_components/foundation/scss/foundation/components/inline-lists";

$nameFontSize: 17.5;
$titleFontSize: 7;
$bioFontSize: 4;


$mediumWidth: 1024px;
$mediumHeight: 679px;
$largeWidth: 1440px;
$largeHeight: 955px;

/*
 * Base experience for HTML4 browsers
 *
 * Render the large image, centered on the viewport at its native resolution
 */
.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $mediumWidth;
    height: $mediumHeight;
    margin: auto;

    border: 3px solid $charcoal;

    background-image: url("../img/lon-medium.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;

    .title-text {
        position: absolute;

        top: 20px;
        left: 20px;
        width: 0.35 * ($mediumWidth - 20px);

        hr {
            margin: 10px 0;
            border-color: $header-font-color;
        }

        .name {
            h1 {
                margin: 0;
            }

            span {
                font-size: 69px;
                line-height: 69px;
            }
        }

        .title {
            span {
                font-size: 28px;
            }

            p {
                margin: 0;
            }
        }

        .contact {
            text-align: center;

            li {
                display: inline-block;
                float: none;
                margin-left: 20px;
            }

            li:first-child {
                margin: 0;
            }
        }
    }

    .acknowledgements {
        position: absolute;
        bottom: 0;
        width: 100%;

        color: $jet;
        background-color: $body-bg;
        background-color: transparentize($body-bg, 0.65);

        p {
            margin: 0;
        }
    }
}
