@import "../_lib/bower_components/foundation/scss/normalize";
@import "../_lib/bower_components/foundation/scss/foundation/components/type";
@import "../_lib/bower_components/foundation/scss/foundation/components/visibility";
@import "../_lib/bower_components/foundation/scss/foundation/components/grid";

$body-font-color: rgb(80, 80, 80);
$headingColor: rgb(243, 64, 0);
$backgroundColor: rgb(206, 222, 236);
$linkColor: desaturate($headingColor, 20%);

a {
    color: $linkColor;
}

.main {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: $body-font-color;
}

.title-text {
    text-align: center;

    span {
        display: inline-block;
    }

    .name h1 {
        margin-bottom: 0;
    }

    .name span {
        color: $headingColor;
        line-height: 1;
        vertical-align: bottom;
    }

    .title {
        p {
            margin-bottom: 0;
        }
    }

    .bio {
        padding: 0 0.75rem;

        p {
            font-size: 0.75rem;
        }
    }
}

@media #{$landscape} {
    .main {
        background-size: cover;
        background-position: bottom center;
    }

    .title-text {
        width: 40%;
    }
}

@mixin title-gradient($start, $stop, $image) {
    background-image: -moz-linear-gradient(
            bottom,
            transparentize($backgroundColor, 1),
            transparentize($backgroundColor, 1) $start,
            $backgroundColor $stop
        ),
        url("#{$image}");
    background-image: -o-linear-gradient(
            bottom,
            transparentize($backgroundColor, 1),
            transparentize($backgroundColor, 1) $start,
            $backgroundColor $stop
        ),
        url("#{$image}");
    background-image: -webkit-linear-gradient(
            bottom,
            transparentize($backgroundColor, 1),
            transparentize($backgroundColor, 1) $start,
            $backgroundColor $stop
        ),
        url("#{$image}");
    background-image: linear-gradient(
            to top,
            transparentize($backgroundColor, 1),
            transparentize($backgroundColor, 1) $start,
            $backgroundColor $stop
        ),
        url("#{$image}");
}

@media #{$small-only} {
    .main {
        @include title-gradient(300px, 424px, "../img/lon-small.jpg");
    }
}

@media #{$medium-only} {
    .main {
        @include title-gradient(453px, 679px, "../img/lon-medium.jpg");
    }
}

@media #{$large-only} {
    .row {
        max-width: 100%;
    }

    .main {
        @include title-gradient(633px, 955px, "../img/lon-large.jpg");
    }
}

@media #{$xlarge-up} {
    .row {
        max-width: 100%;
    }

    .main {
        @include title-gradient(848px, 1273px, "../img/lon-xlarge.jpg");
    }
}
