@import "./foundation/scss/normalize";

$body-bg: rgb(206, 222, 236);
$body-font-color: rgb(80, 80, 80);
$header-font-color: rgb(243, 64, 0);
$anchor-font-color: $header-font-color;

@import "./foundation/scss/foundation/components/type";
@import "./foundation/scss/foundation/components/inline-lists";

$nameFontSize: 17.5;
$titleFontSize: 7;
$bioFontSize: 4;


$smallWidth: 640px;
$smallHeight: 424px;
$mediumWidth: 1024px;
$mediumHeight: 679px;
$largeWidth: 1440px;
$largeHeight: 955px;
$xlargeWidth: 1920px;
$xlargeHeight: 1273px;

/*
 * Base experience for HTML4 browsers
 *
 * Render the large image, centered on the viewport at its native resolution
 */
.main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: $mediumWidth;
    height: $mediumHeight;
    margin: auto;

    border: 3px solid $charcoal;

    background-image: url("../img/lon-medium.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;

    .title-text {
        position: absolute;

        top: 20px;
        left: 20px;
        bottom: 20px;
        width: 0.35 * ($mediumWidth - 20px);

        hr {
            margin: 4px;
            border-color: $header-font-color;
        }

        .name {
            h1 {
                margin: 0;
            }

            span {
                font-size: 69px;
                line-height: 69px;
            }
        }

        .title {
            span {
                font-size: 28px;
            }

            p {
                margin: 0;
            }
        }

        .bio {
            p {
                margin: 0;
            }
        }

        .contact {
            text-align: center;

            ul {
                display: inline-block;
                margin: 0;

                li {
                    display: inline-block;
                    float: none;
                    margin-left: 20px;
                }

                li:first-child {
                    margin: 0;
                }
            }
        }
    }

    .acknowledgements {
        position: absolute;
        bottom: 0;
        width: 100%;

        .acknowledgements-container {
            width: 100%;
            height: 100%;
            margin: auto;
        }

        color: $jet;
        background-color: $body-bg;
        background-color: transparentize($body-bg, 0.65);

        span {
            display: inline-block;
            margin: 2px 0;
            font-size: 0.1rem;
            vertical-align: top;
        }
    }
}

@mixin title-gradient($start, $stop, $image) {
    background-image: -moz-linear-gradient(
            bottom,
            transparentize($body-bg, 1),
            transparentize($body-bg, 1) $start,
            $body-bg $stop
        ),
        url("#{$image}");
    background-image: -o-linear-gradient(
            bottom,
            transparentize($body-bg, 1),
            transparentize($body-bg, 1) $start,
            $body-bg $stop
        ),
        url("#{$image}");
    background-image: -webkit-linear-gradient(
            bottom,
            transparentize($body-bg, 1),
            transparentize($body-bg, 1) $start,
            $body-bg $stop
        ),
        url("#{$image}");
    background-image: linear-gradient(
            to top,
            transparentize($body-bg, 1),
            transparentize($body-bg, 1) $start,
            $body-bg $stop
        ),
        url("#{$image}");
}

@media only screen and (max-width: $smallWidth) {
    .main {
        @include title-gradient(300px, $smallHeight, "../img/lon-small.jpg");
    }
}

@media only screen and
  (min-width: $smallWidth + 1) and (max-width: $mediumWidth) {
    .main {
        @include title-gradient(453px, $mediumHeight, "../img/lon-medium.jpg");
    }
}

@media only screen and
  (min-width: $mediumWidth + 1) and (max-width: $largeWidth) {
    .main {
        @include title-gradient(633px, $largeHeight, "../img/lon-large.jpg");
    }
}

@media only screen and (min-width: $largeWidth + 1) {
    .main {
        @include title-gradient(848px, $xlargeHeight, "../img/lon-xlarge.jpg");
    }
}

@mixin titleText() {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    span {
        display: inline-block;
    }

    .name span,
    .title span {
        font-size: 1rem;
    }

    .bio {
        padding: 0 10px;
    }
}

/*
 Portrait experience for HTML5 browsers

 - image at bottom, scaled to fit width, with gradient overlay
 - name, title, bio, links at top, scaled to fit width
 */
$portraitRatio: "only screen and (max-aspect-ratio: 7/9)";
@media #{$portraitRatio} {
    .main {
        width: 100%;
        height: 100%;

        border: none;

        .title-text {
            @include titleText();
        }
    }
}

@media #{$portraitRatio} and (min-width: $xlargeWidth) {
    .main {
        width: $xlargeWidth;
        height: 100%;
    }
}

/*
 Squareish experience for HTML5 browsers

 - image at bottom, scaled to fit width, with gradient overlay
 - nder name, title, links at top left ~50% width
 - bio at top right ~50% width
 */
$squareishRatio: "only screen and (min-aspect-ratio: 7/9) and (max-aspect-ratio: 3/2)";
@media #{$squareishRatio} {
    .main {
        width: 100%;
        height: 100%;

        border: none;

        .title-text {
            @include titleText();
            width: 48%;

            .bio {
                position: absolute;
                top: 4%;
                left: 106%;
                width: 100%;
            }
        }
    }
}

@media #{$squareishRatio} and (min-width: $xlargeWidth) {
    .main {
        width: $xlargeWidth;
        height: 100%;
    }
}

/*
 Landscape experience for HTML5 browsers

 - image at bottom, scaled to fit smaller of width or height
 - name, title, links, bio at top left ~40% width
 */
$landscapeRatio: "only screen and (min-aspect-ratio: 3/2)";
@media #{$landscapeRatio} {
    .main {
        width: 100%;
        height: 100%;

        border: none;

        background-size: cover;

        .title-text {
            @include titleText();
            width: 40%;

            span {
                display: inline-block;
            }
        }

        .acknowledgements {
            .acknowledgements-container {
                width: 75%;
            }
        }
    }
}

@media #{$landscapeRatio} and (min-width: $xlargeWidth) {
    .main {
        width: $xlargeWidth;
    }
}

@media #{$landscapeRatio} and (min-height: $xlargeHeight) {
    .main {
        height: $xlargeHeight;
    }
}
