.main
  .row
    .columns.small-12.title-text
      .name
        h1
          span Lon Ingram
      .title
        p
          span Frontend Systems Engineer
      hr
      .bio
        p.text-justify
          | I hack on third-party JavaScript for Bazaarvoice. I live in Austin 
          | with my lovely wife, 
          a(href="http://www.cottonandcashmerestyle.com/") Donna
          | , and our son, 
          a(href="https://twitter.com/lawnsea/status/510818552149184512") Sterling
          | . I am fascinated with applying ideas from systems research to the
          | challenge of building cool complicated things on the web.
  .acknowledgements
    p.text-center Photo courtesy 
      a(href-"https://twitter.com/gf3") @gf3
      | . Thanks to 
      a(href-"https://twitter.com/jennschiffer") @jennschiffer
      |  and 
      a(href-"https://twitter.com/brianloveswords") @brianloveswords
      |  for
      | lending a hand.

